<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Fitness Tracker App</title>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <form action="/summary" method="post">
        <h1>Personal Fitness Tracker</h1>

        <fieldset>
        <label>Workout Type:</label>
        <br>
        <select name="type">
            <option value="running">Running</option>
            <option value="weightlifting">Weightlifting</option>
            <option value="yoga">Yoga</option>
            <option value="cycling">Cycling</option>
            <option value="other">Other</option>
        </select>
        <br>

        <label>Duration (minutes):</label>
        <br>
        <input type="number" name="duration">
        <br>

        <label>Intensity Level:</label>
        <br>
        <input type="radio" name="intensity" value="low" class="radios">Low</input>
        <input type="radio" name="intensity" value="med" class="radios">Medium</input>
        <input type="radio" name="intensity" value="high" class="radios">High</input>
        <br>

        <label>Date:</label>
        <br>
        <input type="date" name="date">
        <br>

        <label>Notes:</label>
        <br>
        <textarea placeholder="Additional comments..." name="notes"></textarea>
        <br>
        <button type="submit">Log Workout</button>
    </fieldset>
    </form>
</body>
</html>