<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Summary</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <h1>Workout Summary</h1>
    <fieldset>

    <h2>Logged Workout</h2>
    <hr>

    <p><strong>Workout Type:</strong> example</p>
    <p><strong>Workout Type:</strong> example</p>
    <p><strong>Workout Type:</strong> example</p>
    <p><strong>Workout Type:</strong> example</p>
    <p><strong>Workout Type:</strong> example</p>

    <button id="anotherBtn">Log Another Workout</button>
</fieldset>
</body>
</html>